<body>
    Hello Social Sports {{ name }}!
    <p>Your unlocked players:
    {% for player in unlockedPlayers %}
        <p>
        player : {{ dump(player) }}</br>
            {#attributes: {{player.attributes}} </br>#}
            {#id: {{player.id}} </br>#}
    {% endfor %}
</body>